@import "tailwindcss";


:root {
  /* Base colors */
  --background: #ffffff;
  --foreground: #0d0d12; /* Used as main text color */
  --background-alt: #E8F0FD;

  /* Brand colors */
  --primary: #2563eb;

  /* Text variations */
  --text: #0d0d12;
  --text-light: #353849;
}

@theme inline {
  /* Map to Tailwind colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-text-light: var(--text-light);
  --color-background-alt: var(--background-alt);
  /* Fonts */
  --font-sans: var(--font-satoshi);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
}
